<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders 日志信息输出目的地 -->

    <!-- ConsoleAppender -->
    <!-- 每个ConsoleAppender都有一个target，表示它的输出目的地。 -->
    <!-- 它可以是System.out，标准输出设备（缓冲显示屏） -->
    <!-- 或者是System.err，标准错误设备（不缓冲显示屏） -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">

        <param name="Encoding" value="UTF-8" />
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p: %c - %m%n" />
        </layout>
    </appender>

    <!-- 下面这些就是根据 这些路径来控制对应包下的文件的日志输出级别，基本上都是报错了，才输出日志-->
    <logger name="org.springframework.core">
        <level value="error" />
    </logger>

    <logger name="org.springframework.beans">
        <level value="error" />
    </logger>

    <logger name="org.springframework.context">
        <level value="error" />
    </logger>

    <logger name="org.springframework.http">
        <level value="error" />
    </logger>

    <logger name="org.springframework.web">
        <level value="error" />
    </logger>

    <logger name="org.elasticsearch.client.transport">
        <level value="debug" />
    </logger>

    <logger name="org.springframework.data.mongodb">
        <level value="error" />
    </logger>

    <!-- 这个就是自定义的一个logger -->
    <!-- 输出级别是info级别及以上的日志，不要怕，StreamOperateFile已经过滤，只输出info级别的日志 -->
    <!-- additivity 这个默认是true，即继承父类 root logger -->
    <!-- 也就是说，你的这个日志也会在root的logger里面输出的，我这里配置false，就是不继承，各走各的。 -->
    <!-- appender-ref 也就是说这个logger的输出目的地是哪里，ref就是关联到上面声明的一个file，一个console -->
    <logger name="java.sql">
        <level value="debug" />
    </logger>
    <logger name="org.apache.ibatis">
        <level value="info" />
    </logger>
    <!-- 传说中的根logger -->
    <!-- 输出级别是info级别及以上的日志，下面的ref关联的两个appender没有filter设置，所以，info及以上的日志都是会输出到这2个appender的 -->
    <root>
        <level value="debug" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>