<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoyizhe.mybatis.mapper.UserMapper">
    <!-- int insertUser();-->
    <insert id="insertUser" >
        insert into t_user values (null,'admin','123456',23,'男','123@163.com')
    </insert>
<!--    int updateUser();-->
    <update id="updateUser">
        update t_user set username = 'aaaa' where id = 3
    </update>

<!--    int deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id = 3
    </delete>
<!--    User getUserById();-->
    <select id="getUserById" resultType="user">
        select * from t_user where id = 1
    </select>
<!--       List<User> getALLUser();-->
    <select id="getALLUser" resultType="com.gaoyizhe.mybatis.pojo.User">
        select * from t_user
    </select>
</mapper>